.order {
    background-color: #373539;
    padding: 50px 0;
    // .order__wrapper
    &__wrapper {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    // .order__item
    &__item {
        color: #fff;
        display: flex;
        align-items: center;
        gap: 15px;
    }
    // .order__number
    &__number {
        font-size: 60px;
        font-weight: 500;
    }
    // .order__descr
    &__descr {
        font-size: 14px;
        font-weight: 500;
    }
}
.conrainer {
}
.title {
}
.title-white {
}
