.partners {
    padding: 50px 0;
    // .partners__subtitle
    &__subtitle {
        margin-top: 15px;
    }
    // .partners__wrapper
    &__wrapper {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(5, 200px);
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    // .partners__img
    &__img {
        width: 150px;
    }
}

