.services {
    padding: 50px 0;
    // .services__wrapper
    &__wrapper {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 360px);
        justify-content: center;
        gap: 20px;
    }
    // .services__item
    &__item {
        position: relative;
        min-height: 560px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        border: 1px solid #dddddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
        padding: 40px;
        width: 360px;
        // .services__item_title
        &_title {
            font-size: 20px;
            font-weight: 500;
        }
        // .services__item_img
        &_img {
            margin-top: 30px;
        }
        // .services__item_list
        &_list {
            margin-top: 30px;
            list-style-type: square;
            margin-left: 20px;
            font-size: 14px;
        }
    }
}
.btn {
    &-services {
        position: absolute;
        bottom: 50px;
    }
    
}
