@media (max-width: 577px) {
    .examples {
        &__subtitle {
            text-align: center;
        }
    }

    .slider-container {
        width: 350px;
        height: 350px;
    }

    .prev-button {
        left: 0;
    }

    .next-button {
        right: 0;
    }

    .title-examples {
        text-align: center;
    }
}