@media (max-width: 577px) {
    .partners {
        padding: 30px 0;
        // .partners__subtitle
        &__subtitle {
            text-align: center;
        }
        // .partners__wrapper
        &__wrapper {
            grid-template-columns: repeat(2, 160px);
            column-gap: 10px;
        }
        // .partners__img
        &__img {
            width: 150px;
        }
    }

    .title-partners {
        text-align: center;
    }
    
    
}