@media (max-width: 577px) {
    .btn {
        display: block;
        margin: 0 auto;
        width: 220px;
        height: 40px;
    
        font-size: 12px;
        &-promo {
            margin-top: 120px;
        }
    }
}