@import 'fonts'; 
@import 'animate'; 
@import 'var'; 

* {
	font-family: 'Montserrat';
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    caret-color: transparent;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    @media (max-width: 576px) { 
        padding: 0 20px;
    }
}
.btn {
    width: 235px;
    height: 47px;
    background-color: $second;
    border-radius: 30px;

    font-size: 14px;
    color: #000;
    font-weight: 500;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
    &-promo {
        margin-top: 20px;
    }
    &-white {
        background-color: $textColor;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    }
}
.title {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase; 
    span {
        color: $second;
    font-size: 30px;

    }
    &-white {
        color: $textColor;
        font-size: 25px;
        span {
            color: $second;
        }
    }
    @media (max-width: 577px) {
        font-size: 24px;
    }
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/services';
@import 'blocks/discount';
@import 'blocks/about';
@import 'blocks/order';
@import 'blocks/hands';
@import 'blocks/sample';
@import 'blocks/advantages';
@import 'blocks/slider';
@import 'blocks/partners';
@import 'blocks/contacts';
@import 'blocks/whatsapp';
@import 'blocks/modals';


@import 'media/mediaHeader';
@import 'media/mediaPromo';
@import 'media/mediaBtn';
@import 'media/mediaServices';
@import 'media/mediaDiscount';
@import 'media/mediaAbout';
@import 'media/mediaOrder';
@import 'media/mediaHands';
@import 'media/mediaSample';
@import 'media/mediaAdvantages';
@import 'media/mediaSlider';
@import 'media/mediaPartners';
@import 'media/mediaContacts'; 
@import 'media/mediaWhatsapp'; 
@import 'media/mediaModals'; 


 